<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Checker</title>
    <link rel="stylesheet" href="../static/geral.css">
</head>
<body>
  <div class="container">
    <form action="#">
       
    <div class="wrapper">
      <h1> Digite o URL suspeito</h1>
      <div class="input-group">
        <input type="text" id="urlSuspeita"   name="urlSuspeita"  class="input-group__input"  required/>
      </div>
    <a href="#" class="btn">
      Verificar
    </a> 
</form>
</div>
  </body>
</html>